                body {
            background-image: url(myman3.png);
            Margin: 0;
          }

        .title {
            background-color: purple;
            font-style: italic;
            border-radius: 300px;
            font-size: xx-large;
        }
        .title:hover {
            background-image: url(rainbow.png);
            font-style: italic;
            border-radius: 350px;
            font-size: xx-large;
        }

        .lenny {
            float: right;
        }
    
        .Heading_1 {
            float: right;
            background-color: pink;
            font-style: italic;
            border-radius: 300px;
        }
                .Heading_4 {
            float: right;
            background-color: red;
            font-style: italic;
            border-radius: 300px;
            font-weight: bolder;
            font-size: x-large;
            width: 250px;
            height: 250px;
            font-style: italic;
        }
            .button {
                background-color: red;
                width: 100px;
                height: 100px;
                border-radius: 300px;
                float: left;
                font-style: italic;
            }
   
            .stop {
                width: 200px;
                height: 200px;
                border-radius: 200px;
                backround-color: red;
                font-size: large;
                font-style: italic;
                float: right;
                font-weight: bold;
            }
   
                      .blue {
                                width: 100px;
                                height: 100px;
                                border-radius: 300px;
                                font-style: italic;
                                float: right;
                                font-weight: bold;           
                                padding: 15px 25px;
                                text-align: center;
                                cursor: pointer;
                                outline: none;
                                color: black;
                                background-color: blue;
                                border: none;
                                border-radius: 15px;
                                box-shadow: 0 9px #999;
                          }
                               .blue:hover {
                                background-color: #3e8e41
                              }
                            .blue:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                    .red {
                              width: 100px;
                                height: 100px;
                                border-radius: 300px;
                                font-style: italic;
                                float: right;
                                font-weight: bold;           
                                padding: 15px 25px;
                                text-align: center;
                                cursor: pointer;
                                outline: none;
                                color: black;
                                background-color: red;
                                border: none;
                                border-radius: 15px;
                                box-shadow: 0 9px #999;
                      }
                         .red:hover {
                                background-color: #3e8e41
                              }
                            .red:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                        .orange {
                               width: 100px;
                                height: 100px;
                                border-radius: 300px;
                                font-style: italic;
                                float: right;
                                font-weight: bold;           
                                padding: 15px 25px;
                                text-align: center;
                                cursor: pointer;
                                outline: none;
                                color: black;
                                background-color: orange;
                                border: none;
                                border-radius: 15px;
                                box-shadow: 0 9px #999;
                      }
                             .orange:hover {
                                background-color: #3e8e41
                              }
                            .orange:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                        .yellow {
                               width: 100px;
                                height: 100px;
                                border-radius: 300px;
                                font-style: italic;
                                float: right;
                                font-weight: bold;           
                                padding: 15px 25px;
                                text-align: center;
                                cursor: pointer;
                                outline: none;
                                color: black;
                                background-color: yellow;
                                border: none;
                                border-radius: 15px;
                                box-shadow: 0 9px #999;
                        }
                                .yellow:hover {
                                background-color: #3e8e41
                              }
                            .yellow:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                      .green {
                                 width: 100px;
                                height: 100px;
                                border-radius: 300px;
                                font-style: italic;
                                float: right;
                                font-weight: bold;           
                                padding: 15px 25px;
                                text-align: center;
                                cursor: pointer;
                                outline: none;
                                color: black;
                                background-color: green;
                                border: none;
                                border-radius: 15px;
                                box-shadow: 0 9px #999;
                          }
                                  green:hover {
                                background-color: #3e8e41
                              }
                            .green:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                            .man {
                                 width: 100px;
                                height: 100px;
                                border-radius: 300px;
                                font-style: italic;
                                float: right;
                                font-weight: bold;           
                                padding: 15px 25px;
                                text-align: center;
                                cursor: pointer;
                                outline: none;
                                color: black;
                                background-image: url(man.png);
                                border: none;
                                border-radius: 15px;
                                box-shadow: 0 9px #999;
                            }
                              man:hover {
                                background-color: #3e8e41
                              }
                            .man:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                        .smile {
                               width: 100px;
                              height: 100px;
                              border-radius: 300px;
                              font-style: italic;
                              float: right;
                              font-weight: bold;           
                              padding: 15px 25px;
                              text-align: center;
                              cursor: pointer;
                              outline: none;
                              color: black;
                              background-color: black;
                              border: none;
                              border-radius: 15px;
                              box-shadow: 0 9px #999;
                    }
                                smile:hover {
                                background-color: #3e8e41
                              }
                            .smile:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                        .purple {
                             width: 100px;
                              height: 100px;
                              border-radius: 300px;
                              font-style: italic;
                              float: right;
                              font-weight: bold;           
                              padding: 15px 25px;
                              text-align: center;
                              cursor: pointer;
                              outline: none;
                              color: black;
                              background-color: purple;
                              border: none;
                              border-radius: 15px;
                              box-shadow: 0 9px #999;
                    }
                          .purple:hover {
                                background-color: #3e8e41
                              }
                            .purple:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                            }
                            .beast {
                             width: 100px;
                              height: 100px;
                              border-radius: 300px;
                              font-style: italic;
                              float: right;
                              font-weight: bold;           
                              padding: 15px 25px;
                              text-align: center;
                              cursor: pointer;
                              outline: none;
                              color: black;
                              background-color: cyan;
                              border: none;
                              border-radius: 15px;
                              box-shadow: 0 9px #999;
                      }

                            .stop2 {
                              width: 225px;
                              height: 225px;
                              border-radius: 200px;
                              font-size: large;
                              font-style: italic;
                              float: right;
                              font-weight: bold;           
                              padding: 15px 25px;
                              font-size: 24px;
                              text-align: center;
                              cursor: pointer;
                              outline: none;
                              color: black;
                              background-color: #04AA6D;
                              border: none;
                              border-radius: 15px;
                              box-shadow: 0 9px #999;
                            }
                              .beast:hover {
                                background-color: #3e8e41
                              }
                                .beast:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                              }
                              .stop2:hover {
                                background-color: #3e8e41
                              }

                              .stop2:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                              }
                                .update {
                                  background-color: black;
                                  font-size: xx-large;
                                  font-style: bold;
                                  border-radius: 250px;
                              }
                                     .Heading_3 {
                                    background-color: purple;
                                    font-style: italic;
                                    border-radius: 250px;
                                    font-weight: bolder;
                                    font-size: large;
                                  }
                                    .title2 {
                                      backround-color: purple;
                                      font-style: italic;
                                      border-radius: 300px
                                    }

                                    .footer {
                                      text-align: center;
                                      background-image: url(Rainbow.gif);
                                      color: black;
                                      position: fixed;
                                      bottom: 0;
                                      width: 100%;
                                      height: 60px;
                                      font-size: 50px;
                                      font-style: bold;
                                    }
                                    
                                    .neon-button {
                                      font-size: 4rem;
                                      color: purple;
                                      display: inline-block;
                                      cursor: pointer;
                                      text-decoration: none;
                                      color: purple;
                                      border: purple 4px solid;
                                      padding: 0.25em lem;
                                      border-radius: 0.25em;
                                      text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor;
                                      background-color: DimGray;
                                      box-shadow: inset 0 0 0.5em 0 purple, 0 0 0.5em 0 purple;
                                      transition: all 0.5s;
                                      cursor: pointer;
                                    }

                                    .button5 {
                                      color: purple;
                                      text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.5em currentColor;
                                      background-color: DimGray;
                                    }

                                      .neon-button:hover {
                                      background: pink;
                                      color: black;
                                      text-shadow: none;
                                      padding-right: 25px;
                                    }

                                    

                                    .neon-button span {
                                      cursor: pointer;
                                      display: inline-block;
                                      position: relative;
                                      transition: 0.5s;
                                    }
                                    
                                    .neon-button span:after {
                                      content: '\00bb';
                                      position: absolute;
                                      opacity: 0;
                                      top: 0;
                                      right: -20px;
                                      transition: 0.5s;
                                    }
                                    
                                    .neon-button:hover span:after {
                                      opacity: 1;
                                      right: 0;
                                    }

                                    .pumpkin {
                                          width: 100px;
                                          height: 100px;
                                          border-radius: 300px;
                                          font-style: italic;
                                          float: right;
                                          font-weight: bold;           
                                          padding: 15px 25px;
                                          text-align: center;
                                          cursor: pointer;
                                          outline: none;
                                          color: black;
                                          background-color: #bd6f0f;
                                          border: none;
                                          box-shadow: 0 9px #999;
                                    }

                                         .pumpkin:hover {
                                              background-color: #3e8e41
                                            }
                            .pumpkin:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                              }

                                         .christmas {
                                           width: 100px;
                                          height: 100px;
                                          border-radius: 300px;
                                          font-style: italic;
                                          float: right;
                                          font-weight: bold;           
                                          padding: 15px 25px;
                                          text-align: center;
                                          cursor: pointer;
                                          outline: none;
                                          color: black;
                                          background-color: aquamarine;
                                          border: none;
                                          box-shadow: 0 9px #999;
                                    }

                                         .christmas:hover {
                                             transform: scale(1.1);
                                            background-color: #3e8e41;
                                            }
                            .christmas:active {
                                background-color: #3e8e41;
                                box-shadow: 0 5px #666;
                                transform: translateY(4px);
                              }
                                          

                                          .Heading_1:hover {
                                          float: right;
                                          background-color: pink;
                                          font-style: italic;
                                          border-radius: 300px;
                                          width: 25px;
                                        }

                                          .aboutblank {
                                              border-radius: 50px;
                                              height: 200px;
                                              width: 400px;
                                              background: aquamarine;
                                              font-size: xx-large;
                                              position: absolute;
                                              top: 50%;
                                              left: 50%;
                                              margin-top: -100px;
                                              margin-left: -200px;
                                          }
                                            .embed {
                                              border-radius: 100px;
                                              height: 100px;
                                              width: 200px;
                                              position: relative;
                                              font-size: xx-large;
                                              background: cyan;
                                              top: 36%;
                                              left: 50%;
                                            }

                                        .heading_5 {
                                        background-image: url(Rainbow.gif)
                                        font-style: italic;
                                        border-radius: 300px;
                                        font-size: xx-large;
                                    }
