                body {
            background-image: url(myman3.png);
            Margin: 0;
          }

        .title {
            background-image: url(Rainbow.gif);
            font-style: italic;
            border-radius: 300px;
            font-size: xx-large
        }
        .lenny {
            float: right;
        }
    
        .Heading_1 {
            float: right;
            background-image: url(Rainbow.gif);
            font-style: italic;
            border-radius: 300px;
        }
                .Heading_4 {
            float: right;
            background-color: red;
            font-style: italic;
            border-radius: 300px;
            font-weight: bolder;
            font-size: x-large;
            width: 250px;
            height: 250px;
            font-style: italic;
        }
            .button {
                background-color: red;
                width: 100px;
                height: 100px;
                border-radius: 300px;
                float: left;
                font-style: italic;
            }
   
            .stop {
                width: 200px;
                height: 200px;
                border-radius: 200px;
                backround-color: red;
                font-size: large;
                font-style: italic;
                float: right;
                font-weight: bold;
            }
   
                .blue {
                    backround-image: url(stop_button.png);
                    width: 100px;
                    height: 100px;
                    border-radius: 300px;
                    float: left;
                    font-style: italic;
                    font-weight: bold;
                }
   
                .red {
                    background-color: red;
                    width: 100px;
                    height: 100px;
                    border-radius: 300px;
                    float: left;
                    font-style: italic;
                    font-weight: bold;
                    border-color: black;
                }
   
                .orange {
                    background-color: orange;
                    width: 100px;
                    height: 100px;
                    border-radius: 300px;
                    float: left;
                    font-style: italic;
                    font-weight: bold;
                    border-color: black;
                }
   
                .yellow {
                    background-color: yellow;
                    width: 100px;
                    height: 100px;
                    border-radius: 300px;
                    float: left;
                    font-style: italic;
                    font-weight: bold;
                    border-color: black;
                }
   
                .green {
                    background-color: green;
                    width: 100px;
                    height: 100px;
                    border-radius: 300px;
                    float: left;
                    font-style: italic;
                    font-weight: bold;
                    border-color: black;
                }
  
                    .man {
                        border-radius: 100px;
                        width: 100px;
                        height: 100px;
                        background-image: url(man-removebg-preview.png);
                    }
  
                        .smile {
                         border-radius: 100px;
                        width: 100px;
                        height: 100px;
                        background-color: black;
                    }
  
                        .purple {
                        background-color: purple;
                        width: 100px;
                        height: 100px;
                        border-radius: 300px;
                        float: left;
                        font-style: italic;
                        font-weight: bold;
                        border-color: black;
                    }
  
                            .beast {
                            background-color: cyan;
                            width: 100px;
                            height: 100px;
                            border-radius: 300px;
                            float: left;
                            font-style: italic;
                            font-weight: bold;
                            border-color: palevioletred;
                    }

                            .stop2 {
                              background-image: url(stop_button-removebg-preview.png);
                              width: 225px;
                              height: 225px;
                              border-radius: 200px;
                              font-size: large;
                              font-style: italic;
                              float: right;
                              font-weight: bold;
                            }                
                              
                              .update {
                                  background-color: black;
                                  font-size: xx-large;
                                  font-style: bold;
                                  border-radius: 300px;
                              }
                                     .Heading_3 {
                                    background-image: url(Rainbow.gif);
                                    font-style: italic;
                                    border-radius: 250px;
                                    font-weight: bolder;
                                    font-size: large;
                                  }
                                    .title2 {
                                      backround-image: url(Rainbow.gif)
                                      font-style: italic;
                                      border-radius: 300px
                                    }

                                    .footer {
                                      text-align: center;
                                      background-image: url(Rainbow.gif);
                                      color: black;
                                      position: fixed;
                                      bottom: 0;
                                      width: 100%;
                                      height: 60px;
                                      font-size: 50px;
                                      font-style: bold;
                                    }
                                    
                                    .neon-button {
                                      font-size: 4rem;
                                      color: purple;
                                      display: inline-block;
                                      cursor: pointer;
                                      text-decoration: none;
                                      color: var(--clr-neon);
                                      border: var(--clr-neon) 4px solid;
                                      padding: 0.25em lem;
                                      border-radius: 0.25em;
                                      text-shadow: 0 0 0.25em currentColor;
                                    }

                                    .button5 {
                                      color: var(--clr-neon)
                                    }
